*

!*/

!.gitignore
!README.md
!SECURITY.md
!Makefile
!src/
!src/**
!docs/
!docs/**
!include/
!include/**
!ebpf/
!logs/.gitkeep
logs/awilix.log

!ebpf/probes.bpf.c
!ebpf/probes.bpf.h

!mrwindwaker_public.pem
!vanitycard.sig
!vanitycard.txt